# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Deploy

on:
  workflow_run:
    workflows: ["Basic workflow"]
    push:
      branches: [ publish-branch ]
    pull_request:
      branches: []
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: "./.github/templates/setup"
      with:
        version: "3.8"
    - name: Build package
      run: |
        poetry build
    - name: Publish package
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
        poetry publish
